<div>
	<form novalidate class="simple-form">
    	<label>ID:
    	<input ng-model="book.id" type = "text" name="updateid" id="updateid">
    	</label><br />
    	<label>Title:
    	<input ng-model="book.title" type = "text" name="updtitle" id="updtitle">
    	</label><br />
     <input type="submit" ng-click="updBookData(book)" value="Update Book" id="updateBook">
	</form>
</div>