<div>
	<form novalidate class="simple-form">
    	<label>ID:
    	<input ng-model="bid" type = "text" name="deleteid" id="deleteid">
    	</label><br />
    	
    	<input type="submit" ng-click="delBookData(bid)" value="Delete" id="deleteBook">

	</form>
</div>