<div>
<h2>Authors</h2>
             
    <ul>
        <li class="list-group-item"><a ui-sref="myAuthors.getAuthors"  ui-sref-active="active">List of all authors</a></li>
        <li class="list-group-item"> <a ui-sref="myAuthors.addAuthor"  ui-sref-active="active">Add an author</a></li>
        <li class="list-group-item"><a ui-sref="myAuthors.updAuthor"  ui-sref-active="active">Update an author</a></li>
        <li class="list-group-item"><a ui-sref="myAuthors.delAuthor"  ui-sref-active="active">Delete an author</a></li>
    </ul>
    <ui-view></ui-view>
</div>
                
