<div>
	<form novalidate class="simple-form">
    	<label>Firstname:
    	<input ng-model="author.fname" type = "text" name="fname" id="fname" /></label><br />
   		<label>Lastname:
    	<input ng-model="author.lname" type = "text" name="lname" id="lname"/></label><br />
    	<label>Age:
    	<input ng-model="author.age" type = "text" name="age" id="age"/>
    	</label><br />
    	<input type="submit" ng-click="addAuthorData(author)" value="Add Author" id="addAuthor" />
	</form>
	<ui-view></ui-view>
    <pre> author = {{author | json}}</pre>
    <pre> master = {{master}}</pre>
</div>