  <div>
    <div class="panel-heading"><span class="lead">List of Books</span></div>
   		<div class="tablecontainer">
      	<table class = "table table-hover">
      		<thead>
      			<tr>
      				<th>Title</th>
      				<th>Pages</th>
      				<th>Author</th>
      			</tr>	
      		</thead>
      		<tbody>
				<tr ng-repeat="gbook in bookData">
					<td>{{ gbook.title }}</td>
				    <td>{{ gbook.pages}}</td>
				    <td>{{ gbook.author }}</td>
			    </tr>
			</tbody>
		</table> 

		</div>
		</div>