<div>
<h2>Books</h2>
<ul>
    <li id = "getBooks"><a ui-sref="myBooks.getBooks"  ui-sref-active="active"> List all books</a> </li>
    <li id = "addBook"> <a ui-sref="myBooks.addBook"  ui-sref-active="active">Add a book</a></li>
    <li><a ui-sref="myBooks.updBook"  ui-sref-active="active">Update a book</a></li>
    <li><a ui-sref="myBooks.delBook"  ui-sref-active="active">Delete a book</a></li>
</ul>
<ui-view></ui-view>
</div>