<div>
	<form novalidate class="simple-form">
    	<label>Title: 
    	<input ng-model="book.title" type = "text" name="title" id="title"/></label><br />
    	<label>Pages: 
    	<input ng-model="book.pages" type = "text" name="pages" id="pages"/></label><br />
    	<label>Author:
    	<input ng-model="book.author" type = "text" name="author" id="authorb"/></label><br />

    	<input type="submit" ng-click="addBookData(book)" value="Add Book" id="addBook"/>
	</form>
	<pre>book={{book | json}}</pre>
</div>