<div>
	<form novalidate class="simple-form">
    	<label>ID:
    	<input ng-model="auth.id" type = "text" name="aid" id="aid"/></label><br />
    	<label>Age:
    	<input ng-model="auth.age" type = "text" name="aage" id="aage"/></label><br />
    	<input type="submit" ng-click = "updateAuthorData(auth)" value="Update Author" id="updateAuthor"/>
	</form>
	<ui-view></ui-view>
	<pre>update = {{auth | json}}</pre>
</div>