 <div>
 <div class="panel-heading"><span class="lead">List of Authors</span></div>

    <div class="tablecontainer">
            <table ng-table="authorDataTbl" class = "table table-hover">
      		<thead>
      			<tr>
      			   <th>Firstname</th>
      			   <th>Lastname</th>
      			   <th>Age</th>
      			</tr>	
      		</thead>
      		<tbody>
				<tr ng-repeat="authData in authorData">
				  <td>{{ authData.firstName }}</td>
				  <td>{{ authData.lastName }}</td>
				  <td>{{ authData.age }}</td>
			    </tr>
			</tbody>
		</table> 
      </div>

    
</div>
