<div>
	<form novalidate class="simple-form">
    	<label>ID:
    	<input ng-model="delId" type = "text" name="deleteaname" id="deleteaid"/></label>
    	<input type="submit" ng-click ="deleteAuthorData(delId)" value="Delete" id="deleteAuthor">
	</form>
</div>